{% extends 'main.html' %}
{% block content %}
  <div class="col-8 m-auto">
    <form action="/store/" method="post">
      {% csrf_token %}
      <input type="text" name="name" id="name" placeholder="Nome:"><br>
      <input type="text" name="address" id="address" placeholder="Endereço:"><br>
      <input type="text" name="order" id="order" placeholder="Pedido:"><br>
      <input type="text" name="ordertime" id="ordertime" placeholder="Dia e horário do pedido:"><br>
      <input type="submit" class="btn btn-primary">
    </form>
  </div>
{% endblock %}